<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Selling Tracks</title>
</head>
<body>
<table border="1">
   <caption>Best Selling Tracks</caption>
   <tr>
    <th>Track name</th>
    <th>Artist</th>
    <th>Orders count</th>
   </tr>
        {% for track in tracks %}
            <tr><td>{{ track.title }}</td><td>{{ track.artist }}</td><td>{{ track.count }}</td></tr>
        {% endfor %}
  </table>
</body>
</html>